<div class="top-wrapper">
  <div class="top-inner-text">
  <div class="text-center py-12 px-4">
  <!-- ロゴ + キャッチコピー -->
  <h1 class="text-3xl md:text-5xl font-bold text-neutral mb-4">買い物リスト（仮）</h1>
  <p class="text-lg md:text-xl text-gray-600 mb-4">予算を決めずに放り込め！</p>

  </div>
</div>