<% content_for(:title, t('.title')) %>
<div class="container pt-3">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">

    <!-- 買い物カゴ一覧 -->
    <div class="row">
        <div class="col-12">
        <div class="row">
            <% if @products.present? %>
            <%= render @products %>
            <% else %>
            <div class="mb-3">商品がありません</div>
            <% end %>
        </div>
        </div>
        <%= link_to purchase_index_path, class: "relative h-12 overflow-hidden rounded bg-neutral-950 px-5 py-2.5 text-white transition-all duration-300 hover:bg-neutral-800 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2" do %>
        <span class="relative"><%= t("purchase.done") %></span>
        <% end %>
    </div>
</div>